<div class="row">
    <div class="col-lg-3">
        </div>
    <div class="col-lg-5">
        <form [ngFormModel]="profilForm">
            <div class="form-group" [ngClass]="{error:!profilForm.controls.Firstname.valid}">
                <label for="recipient-Firstname" class="control-label">Firstname:</label>
                <input type="text" class="form-control" ngControl="Firstname"  id="recipient-Firstname">
                <div [hidden]="profilForm.controls.Firstname.valid">
                    <span class="help-block">Ce champs est obligatoire</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{error:!profilForm.controls.Lastname.valid}">
                <label for="recipient-Lastname" class="control-label">Lastname:</label>
                <input type="text" class="form-control" ngControl="Lastname" id="recipient-Lastname" >
                <div [hidden]="profilForm.controls.Lastname.valid">
                    <span class="help-block">Ce champs est obligatoire</span>
                </div>
            </div>
            <div class="form-group">
                <label for="recipient-Email" class="control-label">Email:</label>
                <input type="text" class="form-control" ngControl="Email" id="recipient-Email" >
            </div>
            <div class="form-group">
                <label for="recipient-Email" class="control-label">Age:</label>
                <input type="number" class="form-control" ngControl="Age" id="recipient-Age" >
                <div *ngIf="!profilForm.controls.Age.valid">
                    <div *ngIf="profilForm.controls.Age.errors.number">
                        <span class="help-block">La valeur doit être un nombre</span>
                    </div>
                    <div *ngIf="profilForm.controls.Age.errors.min">
                        <span class="help-block">La valeur doit être supérieure à 1</span>
                    </div>
                    <div *ngIf="profilForm.controls.Age.errors.max">
                        <span class="help-block">La valeur doit être inférieure à 5</span>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary" [disabled]="!profilForm.valid" (click)="actionSave()" >Save changes</button>

        </form>

    </div>

    <div class="col-lg-2"></div>
</div>



